name: Dart CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Dart tests
    runs-on: ubuntu-slim

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1.7.1
        with:
          sdk: stable

      - name: Get dependencies
        run: dart pub get

      - name: Run tests
        run: dart test
